<a href="https://colab.research.google.com/github/laonrd0/acp_2023-2/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importar  libreria google drive
from google.colab import drive

#crear punto de montaje
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#posisionarnos en el directorio de trabajo en nuestro drive google
%cd /content/drive/My\ Drive/

/content/drive/My Drive

In [7]:
#comprobar acceso a archivo .txt
!head meteo_data.txt

FECHA    DIA Al04TMax Al04TMin Al04TMed Al04Precip
-------- --- -------- -------- -------- ----------
13-12-16 348     14.6      4.0      8.9        0.2
12-12-16 347     15.9      3.0      8.7        0.2
11-12-16 346     16.9      5.0     10.2        0.2
10-12-16 345     16.4      6.3     10.9        0.2
09-12-16 344     13.6      9.5     11.2        1.8
08-12-16 343     14.5      5.4     10.4        0.0
07-12-16 342     15.7      6.1     10.1        0.2
06-12-16 341     17.7      7.1     13.4        0.0

In [9]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
pd.read_csv('meteo_data.txt')

     FECHA    DIA Al04TMax Al04TMin Al04TMed Al04Precip
0     -------- --- -------- -------- -------- ------...
1     13-12-16 348     14.6      4.0      8.9       ...
2     12-12-16 347     15.9      3.0      8.7       ...
3     11-12-16 346     16.9      5.0     10.2       ...
4     10-12-16 345     16.4      6.3     10.9       ...
...                                                 ...
4728  05-01-04   5     16.4      0.6      7.1       ...
4729  04-01-04   4     16.2     -0.4      7.2       ...
4730  03-01-04   3     15.1      0.8      7.9       ...
4731  02-01-04   2     17.4      5.7     10.6       ...
4732  01-01-04   1     18.0      2.5     11.1       ...

[4733 rows x 1 columns]